.collegamento-questionario {
  background-color: #ddffd9;
  padding: 4em;
}

.collegamento-questionario h1 {
  font-size: 55px;
}

.collegamento-questionario p {
  padding: 1em 0;
  width: 85%;
}
.contenitore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.inizia-da-te {
  width: 80%;
  object-position: 30px;
}
.inizia-da-te-testo {
  text-align: center;
  width: 100% !important;
  margin-left: 10%;
}
.contenitore {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.phone {
  width: 35%;
}

@media (max-width: 768px) {
  .inizia-da-te {
    width: 150%;
    object-position: 40px;
  }

  .inizia-da-te-testo {
    text-align: center;
    width: 200% !important;
  }

  .phone {
    display: none;
  }
}

@media (max-width: 425px) {
  .inizia-da-te {
    width: 250%;
    object-position: 40px;
  }
}
