.questionario-sfondo {
  min-height: 100vh;
  background-image: url("/public/img/sfondoQuestionario.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.background-overlay-questionario {
  position: absolute;
  inset: 0;
  background-color: rgba(226, 255, 227, 0.821);
  z-index: 0;
}
.domanda {
  color: green;
}

.descrizione {
  color: rgb(126, 126, 126);
}

.text-danger[role="alert"] {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
}
